@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 8pt;
  background-color: #fff;
  scroll-behavior: smooth;
}

@media (min-width: 576px) {
  html, body {
    font-size: 9pt;
    letter-spacing: 0.7px;
  }
}

@media (min-width: 768px) {
  html, body {
    font-size: 10pt;
  }
}

@media (min-width: 992px) {
  html, body {
    font-size: 10pt;
  }
  body {
    margin-top: 110px;
  }
}

@media (min-width: 1200px) {
  html, body {
    font-size: 10pt;
  }
}

/* Global */
div.title-section {
  margin-bottom: 23px;
}

div.title-section h2 {
  font-size: 29px;
  font-weight: 700;
  color: #20438a;
}

div.title-section hr {
  border-top: 3px solid #0099cc;
  margin-top: 17px;
  margin-bottom: 0;
  width: 45px;
}

/* Contact Info */
div.contact-info {
  display: none;
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: #20438a;
  z-index: 99999;
  top: 0;
  padding-right: 15px;
}

div.contact-info div.info {
  color: #fff;
  line-height: 40px;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  align-content: center;
  float: right;
}

div.contact-info div.info span {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  align-content: center;
  align-self: center;
}

div.contact-info div.info span span.material-icons {
  font-size: 18px;
}

div.contact-info a.btn-budget {
  color: #fff;
  background-color: #0099cc;
  padding: 0px 15px;
}

div.contact-info a.btn-budget:hover {
  background-color: #00ace6;
  text-decoration: none;
}

@media (min-width: 992px) {
  div.contact-info .container {
    min-width: 1140px;
  }
}

/* Nav Section */
nav {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.4px;
  position:relative;
  width: 100%;
  min-height: 85px;
  background-color: #fff;
  box-shadow: 1px 5px 10px #0003;
}

nav.fixed-top {
  min-height: 70px;
}

.navbar-brand {
  margin-left: 4.4rem;
}

nav a.navbar-brand svg {
  width: 135px;
}

nav div.dropdown.menu-container {
  position: absolute;
  float: left;
}


nav button.navbar-toggler.menu,
nav div.dropdown button.dropdown-toggle {
  position: absolute;
  border: none;
  color: #011a77 !important;
}

nav div.dropdown button.dropdown-toggle {
  position:relative;
  background-color: inherit;
}

nav div.dropdown button.dropdown-toggle::after {
  display: none;
}

nav button.navbar-toggler span,
nav div.dropdown button.dropdown-toggle span{
  font-size: 33px;
}

nav button.navbar-toggler:active,
nav button.navbar-toggler:link,
nav button.navbar-toggler:hover,
nav button.navbar-toggler:focus,
nav div.dropdown button.dropdown-toggle:active,
nav div.dropdown button.dropdown-toggle:link,
nav div.dropdown button.dropdown-toggle:hover,
nav div.dropdown button.dropdown-toggle:focus {
  border: none;
  outline: none;
}

#menuList.dropdown-menu {
  transition: .3s;
  z-index: -1;
  top: 133%;
  right: auto;
  left: -1000px;
  border-radius: unset;
  display: block;
  visibility: visible;
  opacity: 1;
  height: calc(2000px - 100%);
  width: 27rem;
}

#menuList.dropdown-menu.show {
  left: -13px;
}

#menuList.dropdown-menu .dropdown-item {
  color: #021d6b;
  font-size: 12px;
  font-weight: 200;
  line-height: 40px;
  margin-right: 28px;
  padding: 0.05rem 1.5rem;
}

#menuList.dropdown-menu .dropdown-item.active {
  color: #fff;
  background-color:#0099cc;
}

#contactList.dropdown-menu {
  transition: .3s;
  z-index: -1;
  top: 100%;
  right: 1%; 
  left: auto;
  border-radius: unset;
  display: block;
  visibility: hidden;
  opacity: 0;
}

#contactList.dropdown-menu.show {
  visibility: visible;
  opacity: 1;
  top: 136%;
  z-index: 9999;
}

#contactList.dropdown-menu .dropdown-item {
  color: #9e9e9e;
  font-size: 12px;
  line-height: 40px;
  margin-right: 28px;
}

#contactList.dropdown-menu .dropdown-item:last-child {
  line-height: 20px;
}

#contactList.dropdown-menu .dropdown-item span.material-icons {
  font-size: 21px;
  display: block;
  float: left;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link {
  color: #011a77;
  opacity: 0.5;
  font-weight: 700;
  padding: 1rem;
  margin-left: 2px;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #011a77;
  opacity: 1;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #011d85;
  opacity: 1;
}

.navbar-light .navbar-nav .nav-item.make-budget {
  background-color: #0099cc;
  border-radius: 5px;
}

.navbar-light .navbar-nav .nav-item.make-budget:hover {
  background-color: #00a6dd;
}

.navbar-light .navbar-nav .nav-item.make-budget .nav-link {
  color: #fff;
  opacity: 1;
}

@media (min-width: 576px) {
  .navbar .container {
    max-width: 1140px;
  }
}

@media (min-width: 768px) {

}

@media (min-width: 993px) {
  nav.navbar {
    padding: 0 15px;
  }
  nav.navbar .container {
    height: 70px;
    padding: 0 15px;
  }
  .navbar-brand {
    margin-left: 0;
  }
  .navbar .nav-item.active {
    background-color:#0099cc;
  }
  .navbar .nav-item:hover {
    background-color:#73dcff;
    
  }
  .navbar .nav-item:hover .nav-link {
    color: #fff;
  }
  .navbar .navbar-collapse {
    height: 70px;
  }
  .navbar .navbar-collapse ul.navbar-nav {
    height: 70px;
    line-height: 45px;
  }
  .navbar .nav-item.active .nav-link {
    color: #fff;
  }
  .menu-container {
    display: none;
  }
  .contact-list-container {
    display: none;
  }
  div.contact-info {
    display: block;
  }
  nav.fixed-top {
    top: 40px;
  }
}

/* Carousel Section */
section#carousel {
  width: 100%;
  padding: 68px 0 0 0;
}

#carouselContainer .carousel-item img {
  height: 200px;
}


@media (min-width: 576px) {
  #carouselContainer .carousel-item img {
    height: 500px;
  }

  section#carousel {
    width: 100%;
    padding: 0;
  }
}

@media (min-width: 768px) {
  #carouselContainer .carousel-item img {
    height: 600px;
  }
}

@media (min-width: 992px) {
  #carouselContainer .carousel-item img {
    height: 750px;
  }
}

/* Infraestructure new */
#infraestructure {
  padding: 75px 0 0;
}
.box-container {
  position: relative;
  padding: 55px 35px;
  margin-bottom: 15px;
}
.palete {
  background-image: url('../img/posicoes_palete.jpg');
  background-size:cover;
}
.carga-descarga {
  background-image: url('../img/carga_descarga.JPG');
  background-size:cover;
}
.ambiente {
  background-image: url('../img/ambiente_seguro.JPG');
  background-size:cover;
}

.box-container .black-opacity {
  position: absolute;
  background-color: #20438a;
  height: 100%;
  width: -webkit-fill-available;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: 0;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.box-container .text {
  position: relative;
  z-index: 99;
}

.box-container .text .svg {
  width: 40%;
  margin: 0 auto;
}

.box-container .text p{
  font-size: 25px;
  color: white;
  text-align: center;
}
@media (min-width:992px) {
  #infraestructure {
    padding: 0;
    position: relative;
    top: -40px;
    z-index: 9;
  }
  .box-container {
    box-shadow: 0px 0px 11px 1px #777777;
    margin-bottom: 0;
  }
}
/* About Section */
#about {
  padding-top: 75px;
}

#about .about-box,
#about .about-values {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #f9f9f9;
}

#about .about-box .about-text {
  font-size: 18px;
  color: #888888;
}

#about .about-values {
  background-color: inherit;
}

#about .about-values .icon {
  position: absolute;
  top: 50px;
  left: 35px;
  padding: 13px;
  background-color: #8080804d;
  border-radius: 50px;
}

#about .about-values .box {
  box-shadow: 0px 0px 11px 1px #e6e6e6;
  padding: 28px 28px 28px 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#about .about-values .box h2.title {
  font-size: 20px;
  font-weight: 700;
  color: #20438a;
}

#about .about-values .box div.text {
  font-size: 16px;
  color: #888888;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  #about{
    padding-top: 30px;
  }
  #about .about-values .box {
    min-height: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
}

/* Budget Div */

.budget .budget-box {
  background-color: #20438a;
  padding: 35px 0;
}

.budget .title h2 {
  color: white;
  font-size: 2rem;
  text-align: center;
}

.budget .button {
  text-align: center;
}

.budget .button button {
  border: none;
  padding: 10px;
  background-color: #fff;
  color: #878787;
  font-size: 19px;
  font-weight: 900;
  letter-spacing: 0px;
  border-radius: 5px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .budget .button {
    display: flex;
    margin: 0 auto;
    height: 100%;
  }
  .budget .button button {
    align-self: center;
  }
}

/* Services Section */
#services {
  padding: 70px 0 0;
}
#services div.title-section h2 {
  text-align: center;
}
#services div.title-section hr {
  position: relative;
  left: -40px;
}
#services .box-services {
  margin-top: 70px;
}
.box-service .service-text {
  padding: 5% 0;
  margin-bottom: 40px;
}
.box-service .service-text h2 {
  color: #20438a;
  font-weight: 600;
}
.box-service .service-text p {
  color: #888;
  font-size: 18px;
}
@media (min-width: 992px) {
  #services {
    padding: 70px 0;
  }
  .box-service .service-text {
    padding: 0;
  }
}

/* Quality Services */
#quality-services .quality-services-box {
  padding: 40px 0;
  background-color: #f6f6f6;
}
#quality-services .quality-services .quality-img {
  padding: 25px 0;
}
#quality-services .quality-services .quality-list ul {
  list-style: none;
}
#quality-services .quality-services .quality-list ul li {
  font-size: 18px;
  color: #888;
  padding-top: 10px;
}
#quality-services .quality-services .quality-list ul li img {
  margin-right: 15px;
}
@media (min-width: 992px) {
  #quality-services .quality-services .quality-img {
    display: flex;
  }
  #quality-services .quality-services .quality-img img {
    align-self: center;
  }
}


/* Client Section */
#clients .client-box {
  padding: 70px 0;
}
#clients .client-box .title-section h2 {
  text-align:center;
}
#clients .client-box .title-section hr {
  position: relative;
  left: -39px;
}
#clients .client-box .client-list ul {
  list-style: none;
}
#clients .client-box .client-list ul li {
  font-size: 18px;
  color: #888;
}
#clients .client-box .client-list ul li img {
  margin-right: 15px;
}

@media (min-width: 992px) {
  #clients .client-box .client-list{
    display: flex;
    height: 100%;
  }
  #clients .client-box .client-list ul {
    align-self: center;
  }
}


/* Contact Section */
#contact {
}
#contact .contact-box {
  padding: 70px 0 0;
  background-color: #f6f6f6;
}
#contact .contact-box form {
  margin: 15px 0;
}
#contact form .form-control {
  font-size: 18px;
}
#contact form input.form-control {
  height: 50px;
  border-radius: 5px;
}
#contact form .form-control::placeholder {
  font-size: 15px;
}
#contact form button {
  border: none;
  padding: 10px 20px;
  background-color: #fff;
  color: gray;
  float: right;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  box-shadow: 0px 0px 11px 1px #e6e6e6;
}
#contact .contact-address-box {
  background-color: #20438a;
  color: #fff;
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 30px;
}
#contact .contact-address {
  padding: 20px 0;
}
#contact .contact-address-box div.title-section h2 {
  color: #fff;
}
#contact .contact-address p span.material-icons {
  display: block;
  position: relative;
  float: left;
}
@media (min-width: 992px) {
  #contact .contact-box {
    padding: 70px 0;
    position:relative;
  }
  #contact .contact-address-box {
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    height: 100%;
    padding: 70px;
  }
}

/* Map Section */
#map {
  width: 100%;
  height: 500px;
  background-color: gray;
}

/* Footer Section */
footer .footer-box {
  background-color: #20438a;
  padding-top: 70px;
  padding-bottom: 30px;
}
footer .footer-box .footer-img {
  text-align: center;
}
footer .footer-box .footer-img svg {
  width: 60%;
}
footer .footer-box .footer-img p{
  font-size: 18px;
  padding: 20px 0;
  color: #fff;
}
footer .footer-box .footer-img form label {
  font-size: 15px;
  color: white;
  opacity: 0.8;
}
footer .footer-box .footer-img form input.form-control {
  height: 40px;
  font-size: 15px;
}
footer .footer-box .footer-img form input.form-control::placeholder {
  font-size: 15px;
}
footer .footer-box .footer-img form .input-group-append button {
  background-color: gainsboro;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
footer .usefull-links, .footer-contact {
  padding: 45px 0 0;
  color: white;
  font-size: 15px;
}
footer .usefull-links .title, .footer-contact .title {
  margin-bottom: 20px;
}
footer .usefull-links .title h3, .footer-contact .title h3 {
  font-weight: 900;
}
footer .usefull-links ul {
  list-style: none;
  color: white;
  padding-left: 15px;
}
footer .usefull-links ul li a {
  color: white;
  display: flex;
  margin: 10px 0;
}
footer .footer-contact p {
  display: flex;
  margin: 20px 0;
}
footer .footer-copyright hr {
  margin-bottom: 25px;
  border-top: 1px solid #30539c;
}
footer .footer-copyright .copyright span {
  font-size: 13px;
  color: white;
  font-weight: 100;
}
@media (min-width: 992px) {
  footer .footer-box {
    padding-bottom: 30px;
  }
  footer .usefull-links {
    margin-left: 25px;
  }
  footer .usefull-links, footer .footer-contact {
    padding: 0;
  }
}

/* Modal */
.modal form .form-control {
  font-size: 18px;
}
.modal form input.form-control {
  height: 50px;
  outline: none;
  border-radius: 5px;
}
.modal form .form-control::placeholder {
  font-size: 15px;
}

.modal button {
  font-size: 15px;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 5.45rem auto;
  }
}















